* {
    margin: 0;
    padding: 0;
}

:root {
    --color-01: rgba(255, 255, 255, 0.986);
    --color-02: #0B1F3A;
    --color-03: #143A51;
    --color-04: #746C6B;
    --color-05: #C49A68;
    --color-06: #FFD66D;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

body {
    background-image: url('/images/brg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Sono', sans-serif;
    padding: 2vh;
    user-select: none;
}

div#root {
    max-width: 1150px;
    width: 100%;
    height: 250vh;
    margin: 5vh auto;
    border-radius: 4px;
    padding: 1em;
    color: var(--color-02);
    background: var(--color-01);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 4px 0 white;
}


.d-flex {
    display: flex;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-between {
    justify-content: space-between;
}
h2.title{
    text-transform: uppercase;
}