/**
 * @author KhanhHN9
 * @Date 2022/11/15
 */

div#software-me {
    position: relative;
}
div#software-me > div.software-skill .skill{
    text-transform: uppercase;
}
div#software-me > div.container-software{
    width: 100%;
    height: 60vh;
    padding: 2em 0;
}

div.container-software > div{
    width: 47%;
    justify-content: space-between;
}

div.container-software > div img{
    width: 100%;
    height: 100%;
}

div.group-skill{
    height: 100%;
    flex-direction: column;
    position: relative;
}

div.group-skill div.software-skill{
    margin: 1em 0;
    margin-left: 1em;
    width: 90%;
    text-transform: capitalize;
    justify-content: space-between;
    align-items: center;
}

div.group-skill div.software-skill .skill{
    text-transform: uppercase;
}

div.group-skill div.software-skill svg{
    width: 25px;
    margin: 0 .3em;
}

#group-skill h3::before{
    content: '❖';
    left: -1em;
    color: var(--color-04);
    position: absolute;
}